  body {
        margin: 0;
        padding: 0;
        font-family: serif;
        overflow-x: hidden;
      }

  header {
        width: 100%;
      }

  header h1 {
        position: relative;
        left: -10000px;
        height: 0;
      }


  header img {
      width: 420px;
      display: block;
      margin: 0 auto;
      position: relative;
      z-index: 5;
  }

  nav { position: relative;
        top: -110px;
        background: #a4dcac;
        padding: 1em;
      }

  nav ul {
        list-style: none;
        padding: 0;
        width: 990px;
        margin: 0 auto;
      }

  nav ul li {
        display: inline-block;
        font-size: 1.5em;
        margin-right: 4em;
        white-space: nowrap;
      }


  nav ul li:nth-child(2) {
     margin-right: 21em;

      }


  nav ul li:last-child {
       margin-right: 0;
      }

    #big {
      width: 40%;
      height: 90%;
      margin-left: 10%;

    }

    #text {
      width: 32%;
      position: relative;
      float: right;
      margin-right: 12%;
      margin-bottom: none;
      margin-left: 0%;
    }

    p {
      color: 512e0f;
      font-size: 1.5em;
    }

    H1 {
      color: 512e0f;
      font-family: "Avenir", sans-serif;
      font-size: 3.3em;
    }

    H2 {
      position: relative;
      color: 512e0f;
      font-family: "Avenir", sans-serif;
      font-size: 2em;

    }

    #money {
      margin-top: -1em;
      padding-left: 0;
    }



    #twitter, #facebook, #tumblin {
      width: 3%;
      margin-left: 1%;
    }


    footer {
      clear:both;
      width: 100%;
      margin-right: 30%;
      margin-left: 44%;

    }


  main {
      clear: both;
      width: 100%;
      height: 100%;
    }

    .dropdown {
      list-style: none;
      background: #a4dcac;
      width: 15em;
      height: 1.5em;
      color: 512e0f;
      border-bottom-style: solid;
      border-color: white;
      padding-top: .5em;
      padding-left: .5em;
    }

    #one, #two, #three, #four {
      font-family: sans-serif;
    }



    a:link {
      color: #FFFFFF;
      text-decoration: none;
    }

    a:visited {
      color: #FFFFFF;
    }

    a:hover {
      color: 512e0f;
    }
