body {
  overflow-x: hidden;
}


#mint {
  width: 100%;
  height: 7%;
  margin-top: 6%;
  position: absolute;
}


#logo {
  position: absolute;
  margin-left: -4%;


}



ul {
    width: 100%;
}

#one, #two {
   position: relative;
   margin-top: 6.5%;
   display: inline;
   float: left;
   font-size: 2em;
   width: 17%;
   font-family: "Avenir", sans-serif;


}

#three, #four {
  position: relative;
  margin-top: 6.5%;
  display: inline;
  float: right;
  font-size: 2em;
  width: 17%;
  font-family: "Avenir", sans-serif;

}


#bunches {
  width: 60%;
  height: 100%;

}

#text {
  width: 32%;
  position: relative;
  float: right;
  margin-top: 5%;
  margin-right: 5%;
  margin-bottom: none;
  margin-left: 0%;
}

p {
  color: 512e0f;
  font-size: 1.5em;
}

H1 {
  color: 512e0f;
  font-family: "Avenir", sans-serif;
  font-size: 3.3em;
}

#twitter, #facebook {
  width: 3%;
  margin-left: 1%;
}

#tumblin {
  width: 3.2%;
  height: 6.2%;
  margin-left: .8%;

}

footer {
  clear:both;
  width: 100%;
  margin-left: 41%;
  margin-right: 41%;

}

a:link {
  color: #FFFFFF;
  text-decoration: none;
}

a:visited {
  color: #FFFFFF;
}

a:hover {
  color: 512e0f;
}
